:root {
  --secondary-color: #6c757d;
  --text-color: #ffffff;
  --background-color: #094f64;
  --font-family: 'Montserrat', sans-serif;
}

.testimonials-section {
  padding: 10px 30px;
  text-align: center;
  background-color: var(--background-color);
  font-family: var(--font-family);
  margin: auto;
}

.testimonials-section h2 {
  font-size: 2.5em;
  margin-bottom: 40px;
  color: var(--text-color);
}

.testimonials-container {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 80px;
  width: 50px;
  max-width: 80%;
  margin: 0 auto;
  white-space: wrap;
}

.testimonial-card {
  background: transparent;
  backdrop-filter: blur(10px) brightness(60%);
  border-radius: 10px;
  padding: 30px;
  margin: 10px 20px 10px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.6s ease;
}

.testimonial-card:hover {
  transform: translateY(-5px);
}

.initials-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #05172b;
  color: white;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.testimonial-card h3 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 10px;
  color: #ffffff;
}

.testimonial-card p {
  font-size: 1.1em;
  text-align: center;
  line-height: 1.7;
  color: #ffffff;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .testimonials-section {
    max-width: 100%;
    align-items: center;
  }
  
  .testimonials-section h2 {
    font-size: 2em;
  }

  .testimonials-container {
    margin-left: 0;
  }

  .testimonial-card {
    margin-right: 10px;
    margin-left: 10px;
    max-width: 1002;
  }
}

@media (max-width: 480px) {
  .testimonial-card {
    padding: 20px;
  }

  .initials-circle {
    width: 40px;
    height: 40px;
    font-size: 1em;
  }

  .testimonial-card h3 {
    font-size: 1.2em;
  }

  .testimonial-card p {
    font-size: 1em;
  }
}