.content__main-sidebar {
  width: 270px;
  position: absolute;
  top: 30px;
  right: 30px;
}

.box {
  background-color: white;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.box__line {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e7e7e7;
}

.published {
  background-color: #22C064;
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
  font-weight: 500;
}

.button {
  width: 100%;
  padding: 12px;
  background-color: #1B2327;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

.button:hover {
  background-color: #1C2E36;
}
