.header {
  background-color: #4c304f;
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .date {
  font-size: 14px;
}

.header .welcome {
  font-size: 16px;
  font-weight: 500;
}

.header .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 1rem;
}

.header .cta-button {
  background-color: #894b90;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
}

.header .cta-button:hover {
  background-color: #a863aa;
}
